config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai-plugin-template:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai-plugin-template
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template git:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-periwinkle-axolotl.sh
        container: qc.acc_geeky-cream-gopher
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-teal-caterpillar.sh
        container: qc.doc_lovely-sepia-lobster
      github.com/interTwin-eu/itwinai-plugin-template git:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-heliotrope-sponge.sh
        container: qc.doc_cheeky-crimson-setter
      github.com/interTwin-eu/itwinai-plugin-template markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-lime-tarsier.sh
        container: qc.doc_wheezy-jade-mammoth
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-tangerine-wombat.sh
        container: qc.lic_beady-khaki-robin
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.surly-coral-olm.sh
        container: qc.met_pretty-maroon-okapi
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template bandit:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-rust-civet.sh
        container: qc.sec_flabby-brass-avocet
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template flake8:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-amethyst-camel.sh
        container: qc.sty_snoopy-linen-ray
      github.com/interTwin-eu/itwinai-plugin-template hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.randy-sangria-guppy.sh
        container: qc.sty_snazzy-sapphire-wombat
      github.com/interTwin-eu/itwinai-plugin-template jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-yellow-crab.sh
        container: qc.sty_sloppy-maroon-llama
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template commands:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-emerald-magpie.sh
        container: qc.uni_flaky-emerald-toad
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-mustard-devil.sh
        container: qc.ver_woolly-orchid-falcon
timeout: 5400
