config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai-plugin-template:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai-plugin-template
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template git:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-chestnut-anteater.sh
        container: qc.acc_surly-charcoal-termite
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-yellow-robin.sh
        container: qc.doc_bumpy-blue-heron
      github.com/interTwin-eu/itwinai-plugin-template git:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-pumpkin-civet.sh
        container: qc.doc_shaggy-taupe-cheetah
      github.com/interTwin-eu/itwinai-plugin-template markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-myrtle-gar.sh
        container: qc.doc_skimpy-blue-mole
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template licensee:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-ochre-bulldog.sh
        container: qc.lic_snazzy-jade-starfish
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-alizarin-rottweiler.sh
        container: qc.met_nippy-goldenrod-abyssinian
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template bandit:
        commands:
        - /usr/bin/env sh .sqa/script.randy-aqua-boar.sh
        container: qc.sec_baggy-brown-squirrel
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template flake8:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-asparagus-woodlouse.sh
        container: qc.sty_scaly-lime-dodo
      github.com/interTwin-eu/itwinai-plugin-template hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.cheeky-platinum-buzzard.sh
        container: qc.sty_foggy-aquamarine-caterpillar
      github.com/interTwin-eu/itwinai-plugin-template jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-apricot-chamois.sh
        container: qc.sty_fuzzy-cornflower-lionfish
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template commands:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-cornflower-javanese.sh
        container: qc.uni_geeky-charcoal-rottweiler
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai-plugin-template get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-ochre-dachshund.sh
        container: qc.ver_gummy-ecru-emu
timeout: 5400
